html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%
}

header {
  display: flex;
  position: fixed;
  width: 100%;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0px;
  border-bottom: 1px solid black;
  background-color: white;
  z-index: 10;
}

.logo {
  display: flex;
  margin-left: 30px;
  align-items: center;
}

.logo span {
    color: MediumAquamarine;
    margin: 0 12px;
}

nav {
  display: inline-block;
    padding-right: 30px;
}

nav a {
  color: black;
  margin: 20px 10px;
}

.main-container {
display: inline-flex;
position: relative;
flex-flow: row nowrap;
justify-content: space-between;
padding: 120px 0px;
z-index: 5;
}

.main-container div {
}

.main-container .column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.main-container .column.large {
  width: 630px;
  justify-content: flex-start;
}

.main-container .column.medium {
  width: 300px;
  justify-content: flex-start;
}

.main-container .column.small {
  width: 240px;
}

.image-story, .top-image {
  display: flex;
  height: 300px;
  align-items: center;
}

.image-story span, .top-story span {
  display: flex;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
}

.top-story span {
  font-size: 40px;
}

.image-story span {
  text-align: center;

}

.story-text, .top-text {
  font-family: Georgia;
  font-size: 17px;
  color: black;
}

.story, .top-story {
  display: flex;
  flex-direction: column;
}

.large .stories {
  display: flex;
  justify-content: space-between;
}

.large .story {
  margin: 0px 10px;
}

.image-story {
  margin-top: 15px;
}

.top-image {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png");

}

.earth {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png");
}

.cameras {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png");
}

.cats {
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png")
}

.bite {
  display: flex;
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  margin: 0px;
  padding: 11px 20px;
}

.small .news-bites h2 {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

footer {
 display: flex;
 width: 100%;
 height: 325px;
 background-color: MediumAquamarine;
 margin: auto;
 font-family: Verdana;
 font-size: 12px;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

footer .logo2 .logo-name{
font-family: Georgia;
font-size: 16px;
font-weight: bold;
color: white;
border-right: 2px white solid;
padding-right: 25px;
}

footer .logo2 nav {
  padding: 10px 20px;
}
